
{#
/**
 * A single thread teaser template.
 *
 * Each thread in the list uses this template. Optionally set an id_suffix to allow
 * this template to be included more than once on a page (eg messenger and recent).
 */
#}
<script id="pmm-thread-teaser{{ id_suffix }}" type="x-template/underscore">
    <div class="pmm-thread-teaser" data-time="<%= timestamp %>" rel="<%= id %>">

        {# Fallback picture can be set by preprocessing this template #}
        <div class="pmm-thread-teaser__image">
            <img src="<%= picture ? picture : '{{ fallback_picture }}' %>" title="<%= owner %>" alt="<%= owner %>" />
        </div>

        {# List of all thread members #}
        <div class="pmm-thread-teaser__members">
            <%= Drupal.pmm.helpers.membersToString(members, false) %>
        </div>

        {# Short snippet from last msg in the thread #}
        <div class="pmm-thread-teaser__snippet">
            <%= snippet %>
        </div>

        {# Only show a date if its a thread (dont show for new messages) #}
        <% if (type == 'thread') { %>
        <div class="pmm-thread-teaser__date pmm-timestamp" datetime="<%= timestamp %>">
            <%= Drupal.pmm.helpers.formatTimeString(timestamp) %>
        </div>
        <% } %>

    </div>
</script>
