{#
/**
 * Wrapper for a the list of threads.
 *
 * It is a container for the list of message threads (sidebar).
 */
#}
<div class="pmm-threads__wrapper">
    <div class="pmm-threads__new-message">
        <a href="#new">{{ new_message_text }}</a>
    </div>
    <ul id="pmm-threads" class="pmm-threads">
        <li class="pmm-threads__loading pmm-loading"><span>{{ loading_text }}</span></li>
    </ul>
</div>
